.App {
  text-align: center;
  background-color: #282c34;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQT6UyFC21yShT00BYg9Lh9uLso39QFaV16_w&usqp=CAU");
  font-family: 'Shadows Into Light', cursive;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #404440;
  padding: 6vh;
}

.App-body {
  min-height: 100vh;
  min-width: 100vh;
}

.Description {
  background-color: #909990;
  border-color: #404440;
  border-style: double;
  border-radius: 50px;
  margin: 10vh;
  padding: 2vh;
} 

.Locations {
  background-color: cornsilk;
  margin: 10vh;
  padding: 5vh;

  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
}

.Search {
  background-color:khaki;
}

.View-all {
  background-color: khaki;
}

.Search > img {
  flex-basis:20%;
}

.Search > h2 {
  flex-basis: 80%;
}

.View-all > img {

}

.View-all > h2 {

}